@media (pointer: fine) {
  body {
    cursor: none;
  }
}

.custom-cursor {
  position: fixed;
  left: 0;
  top: 0;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  background: #111;

  pointer-events: none;
  z-index: 999999;

  transform: translate(-50%, -50%);

  transition:
    width 0.25s ease,
    height 0.25s ease,
    background 0.25s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 11px;
  font-family: "Space Mono", monospace;
}

.custom-cursor.active {
  width: 80px;
  height: 80px;
  background: #111;
}
