@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}


body {
  background: #f5f0e6;
  color: black;
  transition: all 0.4s ease;
}

body.dark {
  background: #121212;
  color: #f5f0e6;
}

body.dark .navbar {
  background-color: rgba(18, 18, 18, 0.9);
}

body.dark .navbar::after {
  background: rgba(245, 240, 230, 0.15);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loader {
  position: fixed;
  inset: 0;
  background-color: #FAF6F3;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 0.8s ease;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  background: #f5f0e6;
}

.hero-container {
  text-align: center;
  max-width: 1200px;
}

.hero-label {
  display: block;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  letter-spacing: 0.3em;
  color: #6f675f;
}

.hero-title {
  margin: 0;
  font-size: 120px;
  font-family: 'Bricolage Grotesque', sans-serif;
  line-height: 0.9;
  font-weight: 700;
  color: #111;
}

.hero-description {
  margin: 2rem auto 0;
  max-width: 400px;
  font-family: "Hanken Grotesk", monospace;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #6f675f;
}

.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  background: #111;
  color: #d8cbb2;
  padding: 10px 20px;
  border-radius: 999px;
  font-family: "Space Mono", monospace;
  font-size: 13px;
  text-decoration: none;
  width: 260px;            
  justify-content: center;   

  white-space: nowrap;      
}

.word-wrapper {
  display: inline-block;
  height: 1.2em;        
  line-height: 1.2em;  
  overflow: hidden;
  position: relative;
  vertical-align: bottom;
   width: 140px; 
}

.word {
  display: inline-block;
  color: #3b82f6;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* sale hacia abajo */
.word.out {
  transform: translateY(100%);
  opacity: 0;
}

/* entra desde arriba */
.word.in {
  transform: translateY(0%);
  opacity: 1;
}