* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loader {
  position: fixed;
  inset: 0;
  background-color: #FAF6F3;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 0.8s ease;
}