@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}


body {
  background: #f5f0e6;
  color: black;
  transition: all 0.4s ease;
}

body.dark {
  background: #121212;
  color: #f5f0e6;
}

body.dark .navbar {
  background-color: rgba(18, 18, 18, 0.9);
}

body.dark .navbar::after {
  background: rgba(245, 240, 230, 0.15);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loader {
  position: fixed;
  inset: 0;
  background-color: #FAF6F3;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 0.8s ease;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background: rgba(245, 240, 230, 0.8);
  backdrop-filter: blur(10px);

  z-index: 1000;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(245, 240, 230, 0.8);
  backdrop-filter: blur(10px);

  z-index: 1000;
}